<!---cabeçalho--->

<div class="header">
    <p-tabView>
        <p-tabPanel header="Vendas">
        Content 1
        </p-tabPanel>
        <p-tabPanel header="Caixa">
            Content 2
        </p-tabPanel>
        <p-tabPanel header="Estoque">
            Content 3
        </p-tabPanel>
        <p-tabPanel header="Clientes">
            Content 4
        </p-tabPanel>
        <p-tabPanel header="Fornecedores">
            Content 5
        </p-tabPanel>
    </p-tabView>
</div>

<!---seção--->

<div class="section">


</div>

<!---redapé--->

<div class="footer">

</div>